@charset "utf-8";
.b-quicklinks {
  font-family: "DinDisplay Pro", Arial, sans-serif;
  font-weight: normal;
  width: auto;
  float: none;
  margin-bottom: 19px;
  border-top: 1px solid #D9D9D9;
}
@media screen and (min-width: 1024px) {
  .b-quicklinks {
    margin-left: 3%;
  }
}
@media screen and (min-width: 1366px) {
  .b-quicklinks {
    display: table;
    border: 0;
    width: 98%;
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 56px 2%;
    padding-bottom: 42px;
  }
}
.b-quicklinks__item {
  border: 1px solid #D9D9D9;
  border-top: 0;
  position: relative;
}
@media screen and (min-width: 1366px) {
  .b-quicklinks__item {
    border: 0;
    display: table-cell;
    border-left: 120px solid transparent;
  }
  .b-quicklinks__item:first-child {
    border: 0;
  }
  .b-quicklinks__item .b-quicklinks__icon:after {
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    content: "";
    -webkit-transition: .35s ease;
    -moz-transition: .35s ease;
    transition: .35s ease;
    z-index: -1;
  }
  .b-quicklinks__item:hover .b-quicklinks__icon:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.b-quicklinks__icon {
  width: 29px;
  height: 29px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 18px;
}
@media screen and (min-width: 1366px) {
  .b-quicklinks__icon {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    left: 0;
  }
}
@media screen and (min-width: 1508px) {
  .b-quicklinks__icon {
    width: 66px;
    height: 66px;
    margin-top: -33px;
  }
}
.b-quicklinks__item_offices .b-quicklinks__icon {
  background-image: url(i/icon-offices-320.png);
}
@media screen and (min-width: 1366px) {
  .b-quicklinks__item_offices .b-quicklinks__icon {
    background-image: url(i/icon-offices-1366.png);
  }
}
@media screen and (min-width: 1508px) {
  .b-quicklinks__item_offices .b-quicklinks__icon {
    background-image: url(i/icon-offices-1508.png);
  }
}
.b-quicklinks__item_map .b-quicklinks__icon {
  background-image: url(i/icon-map-320.png);
}
@media screen and (min-width: 1366px) {
  .b-quicklinks__item_map .b-quicklinks__icon {
    background-image: url(i/icon-map-1366.png);
  }
}
@media screen and (min-width: 1508px) {
  .b-quicklinks__item_map .b-quicklinks__icon {
    background-image: url(i/icon-map-1508.png);
  }
}
.b-quicklinks__item_docs .b-quicklinks__icon {
  background-image: url(i/icon-docs-320.png);
}
@media screen and (min-width: 1366px) {
  .b-quicklinks__item_docs .b-quicklinks__icon {
    background-image: url(i/icon-docs-1366.png);
  }
}
@media screen and (min-width: 1508px) {
  .b-quicklinks__item_docs .b-quicklinks__icon {
    background-image: url(i/icon-docs-1508.png);
  }
}
.b-quicklinks__item_faq .b-quicklinks__icon {
  background-image: url(i/icon-faq-320.png);
}
@media screen and (min-width: 1366px) {
  .b-quicklinks__item_faq .b-quicklinks__icon {
    background-image: url(i/icon-faq-1366.png);
  }
}
@media screen and (min-width: 1508px) {
  .b-quicklinks__item_faq .b-quicklinks__icon {
    background-image: url(i/icon-faq-1508.png);
  }
}
.b-quicklinks__item_contact .b-quicklinks__icon {
  background-image: url(i/icon-contact-320.png);
}
@media screen and (min-width: 1366px) {
  .b-quicklinks__item_contact .b-quicklinks__icon {
    background-image: url(i/icon-contact-1366.png);
  }
}
@media screen and (min-width: 1508px) {
  .b-quicklinks__item_contact .b-quicklinks__icon {
    background-image: url(i/icon-contact-1508.png);
  }
}
.b-quicklinks__link {
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #666666;
  padding: 20px 20px 20px 65px;
  position: relative;
}
.b-quicklinks__link:hover {
  text-decoration: underline;
}
.b-quicklinks__link:after {
  display: inline-block;
  content: "";
  float: right;
  background: url(i/arrow-right.png) no-repeat center;
  width: 16px;
  height: 20px;
}
@media screen and (min-width: 1366px) {
  .b-quicklinks__link:after {
    display: none;
  }
}
@media screen and (min-width: 1366px) {
  .b-quicklinks__link {
    padding: 20px 20px 20px 75px;
    color: #333333;
  }
}
@media screen and (min-width: 1508px) {
  .b-quicklinks__link {
    padding: 20px 20px 20px 85px;
    font-size: 17px;
  }
}
